

.info-doc{
    width: 15%;
}


.doc-menu{
    width: 75%;

}


.doc-topics{
    width: 10%;
}

.space{
    margin: 3% 5%;
}



.menu{
        box-sizing: border-box;
        margin: 0.3rem;
        margin-right: 0;
}



.navbar{
    background-color: rgb(193, 0, 0);
}