.module-selector{
    
    background-color: white;
    margin-top: 0.3rem;
}

   .div-left-shadow {

  background-color: #fff;
  box-shadow: inset 5px 0 10px -5px rgba(0, 0, 0, 0.085);
}


.conj-modulos{
    border-top-right-radius: 5px;
      background-color: rgb(190, 0, 0);
      color: white;

}

ul li{
        padding: 15px 0px;
    border-bottom: 1px solid rgb(233, 233, 233);
    font-size: small;
    color: rgb(109, 109, 109);
    transition: all ease 0.3s;
    cursor: pointer;
    transition: all ease 0.3s;

}

ul li:hover{
    background-color: rgb(237, 237, 237);
}