/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Mono:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

body{
      font-family: "Inter", sans-serif;
      background-color: rgb(224, 224, 224);
}

.flex{
    display: flex;
}


.flex-sa{
    display: flex;
    justify-content: space-around;
}


.flex-1{
    display: flex;
    flex: 1;
}

.cont{
  
    background-color:rgb(255, 255, 255) ;
    border-radius: 5px;
    padding: 5px;
}



.m-cont{
    box-sizing: border-box;
    margin: 0.3rem;
}


ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0; /* opcional */
}


.lh-1 { line-height: 1; }
.lh-1-2 { line-height: 1.2; }
.lh-1-5 { line-height: 1.5; }
.lh-2 { line-height: 2; }
.lh-2-5 { line-height: 2.5; }



.txt-c{
    text-align: center;
}

.txt-j{
    text-align: justify;
}

.elektra-red{
    color: rgb(190, 0, 0);
}

.elektra-gray{
    color: rgb(135, 135, 135);
}



.txt-sm{
    font-size: smaller;
}


.txt-xs{
    font-size: x-small;
}

